@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a0a0a;
    color: #e5e5e5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}